.github/
.vscode/
dist/
build/
coverage/

node_modules/
yarn.lock
.yarn/
.yarnrc.yml
.next/

.vault
.env.*
LICENSE.md

next-env.d.ts
tsconfig.json
tsconfig.server.json
*.tsbuildinfo

.eslintrc.json
.eslintrc.js
eslint.config.mjs
.prettierrc
.prettierignore
