name: Dependabot

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  dependabot:
    uses: France-Travail/pass-emploi-tools/.github/workflows/dependabot.yml@main
    secrets: inherit
