name: Dependabot

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: '0 */6 * * *'

jobs:
  dependabot:
    uses: France-Travail/pass-emploi-tools/.github/workflows/dependabot.yml@a6df6452244ac3d2180e2eeab01a4c4de12abf67
