name: Security Alerts

on:
  schedule:
    - cron: '0 */3 * * *' # Toutes les 3 heures

jobs:
  security-alerts:
    uses: France-Travail/pass-emploi-tools/.github/workflows/security-alerts.yml@6446060cb7ae7ad7f1d76a74ffdddbb4615479b6
    with:
      repo-name: 'pass-emploi-web'
    secrets:
      DEPENDABOT_ALERTS_READER: ${{ secrets.DEPENDABOT_ALERTS_READER }}
      MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
