name: Security Checks

on:
  push:
    branches: [develop, master]
  pull_request:
    branches: [develop, master]
  schedule:
    # Run weekly on Monday at 8:00 UTC
    - cron: '0 8 * * 1'

jobs:
  security-checks:
    uses: France-Travail/pass-emploi-tools/.github/workflows/security-checks.yml@7d9fdf29449ef0d959b44873984261d138d95623
