name: Tests and Quality Checks

on:
  push:
    branches: [develop, master]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  lint:
    name: Lint and Typecheck
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}

    steps:
      - uses: France-Travail/pass-emploi-tools/.github/actions/lint-and-typecheck@1396a6a7f43e0e1817c2aa5633b96c92233df6c8

  test:
    name: Tests
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}

    steps:
      - uses: France-Travail/pass-emploi-tools/.github/actions/test-and-upload@1396a6a7f43e0e1817c2aa5633b96c92233df6c8

  sonarqube:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    needs: test
    # 49699333 = Dependabot bot user ID
    if: >
      !github.event.pull_request.draft &&
      github.event.pull_request.user.id != 49699333

    steps:
      - uses: France-Travail/pass-emploi-tools/.github/actions/sonarqube-scan@1396a6a7f43e0e1817c2aa5633b96c92233df6c8
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
